@charset "utf-8";

:root{
    --background-color: #1f2937;
    --main-text: #f9faf8;
    --secondary-text: #e5e7eb;
    --button-color: #3882f6;
    --info-text: #1f2937;
    --quote-background: #e5e7eb;
    --quote-text: #1f2937;;

    --main-font: Roboto, sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--main-font);
}

body{
    height: 100vh;
}

header{
    background-color: var(--background-color);
    color: var(--main-text);


}

header #headerWrapper{
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
}

header nav{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 16px 0px;
}
header nav ul{
    display: flex;
    flex-flow: row nowrap;
    gap: 16px;
    list-style-type: none;
}

header nav a{
    text-decoration: none;
    color: var(--main-text);
}

header nav #logo{
    font-size: 24px;
    font-weight: 900;
}

header #hero{
    width: 100%;
    margin: 72px 0px;
    display: flex;
    flex-flow: row nowrap;
}

header #hero h1{
    font-weight: 900;
    font-size: 48px;
}

header #hero p{
    font-size: 18px;
}

header #heroWrapper{
    width: 50%;
}
header img{
    width: 50%;
    background-color: white;
}

header input{
    background-color: var(--button-color);
    color: var(--main-text);
    padding: 8px 24px;
    margin-top: 16px;
    border-radius: 8px;
    font-weight: 900;
}

main #info{
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

main #info h2{
    font-size: 36px;
    color: var(--info-text);
    font-weight: 900;
    margin-top: 24px;
}

main #info ul{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    list-style-type: none;
    margin-bottom: 24px;

}

main #info li{
    border: 3px solid var(--button-color);
    padding: 72px;
    border-radius: 8px;
    margin: 24px 0px;
}

main #quote{
    background-color: var(--quote-background);
    color: var(--quote-text);
    padding: 72px 0px;   
}

main #quote blockquote{
    max-width: 800px;
    margin: auto;
}

main #quote p{
    text-align: right;
    font-style: italic;
    font-weight: bold;
}

footer{
    background-color: var(--background-color);
    color: var(--main-text);
    text-align: center;
    padding: 24px 0px;
}