@charset "utf-8";

header{
    position: relative;
    overflow: hidden;
    padding: 48px;
}

header .decoration {
    position: absolute;
    top: -25%;
    left: -55%;
    z-index: -1;
    height: 80vh;
    width: 200vw;
    background-color: rgb(12, 162, 199);
    transform: rotate(-25deg);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}

header .hero{

    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    align-items: center;
    background-image: url(imgs/pexels-steinportraits-1898555.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    height: 600px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);

}

header h1{
    text-align: end;
    color: white;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    font-size: 4rem;
}