@charset "utf-8";

/* Todas as demais midias*/

@media print {

    /*Desnecessario colocar background para impressao, pois a impressora nao imprime fundo*/
    * {

        font-family: 'Courier New', Courier, monospace;
    }

    main{
        border: 2px solid black;
    }

    main h1 {
        text-shadow: none;
        color: black;
    }

    #print {
        display: block;
    }

    #phone,
    #pc,
    #tv,
    #tablet {
        display: none;
    }
}

/*Tablets*/
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: url(../../imagens/back-tablet.jpg);
    }

    #tablet {
        display: block;
    }

    #phone,
    #pc,
    #tv,
    #print {
        display: none;
    }

}

/*Desktops*/
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background-image: url(../../imagens/back-pc.jpg);
    }

    #pc {
        display: block;
    }

    #phone,
    #tablet,
    #tv,
    #print {
        display: none;
    }
}

/*TVs*/
@media screen and (min-width: 1200px) {
    body {
        background-image: url(../../imagens/back-tv.jpg);
    }

    main {
        width: 700px;
    }

    #tv {
        display: block;
    }

    #phone,
    #pc,
    #tablet,
    #print {
        display: none;
    }
}