@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body,html{
    height: 100vh;
    width: 100%;
    font-size: 2em;
}

main{
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 50px 1fr 1fr 1fr 1fr 50px;
    grid-template-rows: 50px auto auto auto auto auto 50px;
}

button{

    font-size: 1em;
}

div#display{
    grid-row: 2/3;
    grid-column: 2/6;
    background-color: black;
    color: white;
    text-align: right;
    padding: 16px;
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
}

div#numbersPanel{
    grid-column: 2/5;
    grid-row: 3/7;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 2px;
}


div#operatorsPanel{
    grid-row: 3/7;
    grid-column: 5/6;
    display: grid;
    gap: 2px;
}

div#operatorsPanel button{
    width: 100%;
}