@charset "utf-8";

@font-face {
    font-family: "Norse Bold";
    src: url(Norse-Bold.otf) format("opentype");
}

:root{
    --button-color: #596D48;
    --input-border-light: #E5E7EB;
    --font-color:black;
    --bg-color: rgba(243, 241, 241, 0.329);
    --section-color: white;
}

body{
    height: 80vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
}

section.backgroundPicture{
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}

img{
    height: 80%;
}

section.backgroundPicture .odinLogo{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    height: 15%;
    background-color: rgba(0, 0, 0, 0.397);
    margin-top: 15vh;
}

section.backgroundPicture .odinLogo h1{
    color: white;
    font-family: "Norse Bold", sans-serif;
    font-size: 5rem;
}

section.backgroundPicture p{
    color: white;
    text-align: center;
    padding: 12px 0px;
}

section.backgroundPicture p>a{
    color: white;
}

main{
    display: grid;
    grid-template-rows: 1fr 2fr;
}

main .firstSection{

    padding-left: 36px;
    height: 100%;
    padding-top: 120px;
}

main .firstSection p{
    font-size: 1.4rem;
    font-weight: bold;
}

main form{
    display: flex;
    flex-flow: column nowrap;
}

main .secondSection{
    padding-left: 36px;
    height: 100%;
    background-color: var(--section-color);
    border: none;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.336);
}

main .secondSection h2{
    margin: 12px 0px;
}

main .secondSection fieldset{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0px;
    border: none;
}

main .secondSection .formGroup{
    display: flex;
    flex-flow: column nowrap;
    padding-right: 48px;
    margin: 12px 0px;
}


main .secondSection .formGroup label{
    text-transform: uppercase;
    font-size: 0.7rem;
}

main .secondSection .formGroup input{
    border-radius: 4px;
}

main .secondSection .formGroup input:focus{

        outline: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.366);
}

main .secondSection .formGroup input:valid{
    border-color: green;
}

main .secondSection .formGroup input:invalid{
    border-color: red;
}

main .thirdSection{

    padding-left: 36px;
    height: 100%;
}

main .thirdSection button{
    background-color: var(--button-color);
    color: white;
    font-weight: bold;
    padding: 8px 54px;
    border: none;
    border-radius: 8px;
    margin: 32px 0px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.349);
    cursor: pointer;
}

main .thirdSection p>a{
    color: var(--button-color);
    font-weight: bold;
    text-decoration: none;
}