@charset "utf-8";

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: "nav header" "nav main";
}

nav {
    grid-area: nav;
    display: flex;
    flex-flow: column nowrap;
    padding: 24px;
    background-color: rgb(40, 139, 179);   
}

nav a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    padding-left: 8px;
}

nav>div,
nav>ul {
    padding: 0px;
}

nav #navLogo img {
    display: inline-block;
    width: 40px;
}

nav #navLogo a{
    font-size: 1.5rem;
    font-weight: 600;
}

nav ul {
    margin-top: 30px;
    list-style-type: none;
    list-style-position: outside;
    display: flex;
    flex-flow: column nowrap;
}

nav>div,nav ul>li{
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-areas: "icons link";
    align-items: center;
    justify-content: center;
}

nav ul>li{
    padding-bottom: 12px;
}

nav>div>img,
nav>ul>li>img {
    grid-area: icons;
    justify-self: center;
}

nav>div>a,
nav>ul>li>a {
    grid-area: link;
}

nav ul>li>img {
    display: inline-block;
    width: 20px;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
}

header img{
    display: inline-block;
    width: 28px;
}

header #searchBox{
    display: grid;
    grid-template-columns: 30px 1fr;
    justify-content: space-around;
    align-items: center;
    padding: 8px 16px;
}

header #userBox{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

header .profilePic{
    width: 60px;
    border-radius: 50%;
}

main {
    grid-area: main;
}