@charset "utf-8";

html,body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#gridContainer{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: "nav header" "nav main";
}

nav{
    grid-area: nav;
}

nav #navLogo img{
    width: 50px;
}

nav ul>li>img{
    width: 20px;
}
header{
    grid-area: header;
}
main{
    grid-area: main;
}
