@charset "utf-8";

:root{
    --nav-color: rgb(40, 139, 179);
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: "nav header" "nav main";
}

nav {
    grid-area: nav;
    display: flex;
    flex-flow: column nowrap;
    padding: 24px;
    background-color: var(--nav-color);   
}

nav a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    padding-left: 8px;
}

nav>div,
nav>ul {
    padding: 0px;
}

nav #navLogo img {
    display: inline-block;
    width: 40px;
}

nav #navLogo a{
    font-size: 1.5rem;
    font-weight: 600;
}

nav ul {
    margin-top: 30px;
    list-style-type: none;
    list-style-position: outside;
    display: flex;
    flex-flow: column nowrap;
}

nav>div,nav ul>li{
    display: grid;
    grid-template-columns: 40px 1fr;
    grid-template-areas: "icons link";
    align-items: center;
    justify-content: center;
}

nav ul>li{
    padding-bottom: 12px;
}

nav>div>img,
nav>ul>li>img {
    grid-area: icons;
    justify-self: center;
}

nav>div>a,
nav>ul>li>a {
    grid-area: link;
}

nav ul>li>img {
    display: inline-block;
    width: 20px;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: repeat(auto-fit,minmax(100px,1fr));
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

header img{
    display: inline-block;
    width: 28px;
}

header #searchBox{
    display: grid;
    grid-template-columns: 30px 1fr;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

header #searchBox input{

    border-radius: 16px;
    background-color: rgb(222, 226, 233);
    border: none;
}

header #userBox{
    padding: 24px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

header .profilePic{
    width: 60px;
    border-radius: 50%;
}

header #welcome{
    padding: 12px 24px;
    display: grid;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 20px 60px;
    grid-template-areas: "pic para" "pic name";
}

header #welcome img{
    grid-area: pic;
}

header #welcome p{
    grid-area: para;
}
header #welcome h1{
    font-size: 1.6rem;
    grid-area: name;
}

header #dashButtons {
    padding: 12px 24px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

header #dashButtons button{
    background-color: var(--nav-color);
    color: white;
    padding: 8px 24px;
    border-radius: 16px;
    border: none;
}

main {
    grid-area: main;
    background-color: rgb(222, 226, 233);
    padding: 24px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    grid-template-areas: "projects announcements" "projects trending";
}
main #projects{
    grid-area: projects;
    height: 100%;
}


main #projects #projectsGrid{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,400px));
    grid-template-rows: repeat(auto-fit,minmax(100px,300px));
    gap: 24px;
    justify-content: center;
}


main #projects #projectsGrid .project{
    background-color: white;
    padding: 24px;
    border-radius: 16px;
    border-left: 3px solid orange;
}

main #announcements{
    grid-area: announcements;
}

main #trending{
    grid-area: trending;
}