@charset "utf-8";

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#gridContainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 6fr;
    grid-template-areas: "nav header" "nav main";
}

nav {
    grid-area: nav;
    display: flex;
    flex-flow: column nowrap;
    padding: 24px;
    background-color: rgb(40, 139, 179);
    
}

nav a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}

nav>div,
nav>ul {
    padding: 0px;
}


nav #navLogo img {
    display: inline-block;
    width: 50px;
    color: white;
}

nav ul {
    margin-top: 30px;
    list-style-type: none;
    list-style-position: outside;
    display: flex;
    flex-flow: column nowrap;

}

nav>div,nav ul>li{
    display: grid;
    grid-template-columns: 30px 1fr;
    grid-template-areas: "icons link";
    align-items: center;
    justify-content: center;
}

nav #dashOptions{
}

nav #accountOptions{
}

nav>div>img,
nav>ul>li>img {
    grid-area: icons;
}

nav>div>a,
nav>ul>li>a {
    grid-area: link;
}

nav ul>li>img {
    display: inline-block;
    width: 20px;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}